<h3>Comment a post</h3>
<%= form_for [@article, @comment] do |f| %>
  <p>
    <%= f.label :author_name, 'Your Name' %>
    <%= f.text_field :author_name %>
  </p>

  <p>
    <%= f.label :body, 'Your comment' %>
    <%= f.text_field :body %>
  </p>
  <%= f.submit 'submit' %>
<% end %>