<h1>Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article),
                  class: 'article_title', id: "article_#{article.id}" %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new article", new_article_path, class: 'new_article' %>