<h1>
  <%= @article.title %>
</h1>

<p>
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url %>
  <% end %>
</p>

<p class="article_body">
  <%= @article.body %>
</p>

<% if logged_in? %>
  <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete article?"} %>
  <br>
  <%= link_to "Edit",  edit_article_path(@article)%>
  <br>
<% end %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>
<%= link_to 'Back to Articles', articles_path %>