<h1>Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag),
          class: "tag_name", id: "tag_#{tag.id}"%>
    </li>
  <% end %>
</ul>

<%= link_to "back to articles", root_path %>