<h1>Articles tagged with: <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "delete tag", tag_path(@tag), method: :delete %>
<%= link_to "back to tags", tags_path %>