<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/flash" %>

    <div id="container">
      <div id="content">
        <%= yield %>
        <hr>
        <h6>
          <% if current_user %>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to '(logout)', logout_path %>
          <% else %>
            Logged Out
            <%= link_to '(login)', login_path %>
          <% end %>
        </h6>
      </div>
    </div>
  </body>
</html>
